@charset "UTF-8";
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow-x: hidden;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input,
button,
textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding: 0px 10px;
  margin: 0 auto;
}

@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.content {
  background-color: #ffffff;
  position: relative;
  z-index: 50;
}

input:active,
input:focus {
  outline: none !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

.intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  text-align: center;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

@media screen and (max-width: 992.98px), screen and (max-height: 700px) {
  .intro {
    padding: 20px 0px;
  }
}

.intro__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.intro__content .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.intro__text {
  color: #ffffff;
  position: relative;
  padding-bottom: 45px;
  margin: 30px 0;
}

.intro__text::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 105px;
  height: 2px;
  background-color: #ffffff;
}

.intro__title {
  font-size: calc(25px + 9 * ((100vw - 320px) / 1600));
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5.44px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px), screen and (max-height: 600px) {
  .intro__title {
    line-height: 30px;
  }
}

.intro__subtitle {
  font-size: calc(18px + 8 * ((100vw - 320px) / 1600));
  letter-spacing: 4.16px;
}

.intro__footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__btn {
  margin-bottom: 70px;
}

@media screen and (max-width: 767.98px), screen and (max-height: 600px) {
  .intro__btn {
    margin-bottom: 30px;
  }
}

.intro__arrow {
  position: relative;
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

.intro__btn:hover .intro__btn--w {
  color: #000000;
}

.btn {
  display: inline-block;
  font-size: 16px;
  padding: 0 43px;
  height: 47px;
  line-height: 41px;
  text-transform: uppercase;
  position: relative;
}

.btn span {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.btn:hover.btn--w {
  color: #000000;
}

.btn:hover.btn--b {
  color: #ffffff;
}

.btn:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.btn--w {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn--w::after {
  background-color: #ffffff;
}

.btn--b {
  color: #000000;
  border: 1px solid #000000;
}

.btn--b::after {
  background-color: #000000;
}

.menu {
  padding: 22px 0;
  border: 1px solid #f2f2f2;
}

@media (max-width: 479.98px) {
  .menu {
    padding: 22px 0 12px 0;
  }
}

.menu--mb {
  margin: 0px 0px 125px 0px;
}

@media (max-width: 992.98px) {
  .menu--mb {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 767.98px) {
  .menu--mb {
    margin: 0px 0px 30px 0px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 479.98px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu__item {
  margin: 0 25px;
  line-height: 1;
}

@media (max-width: 767.98px) {
  .menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (max-width: 479.98px) {
  .menu__item {
    margin-bottom: 10px;
  }
}

.menu__link {
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  font-size: calc(13px + 2 * ((100vw - 320px) / 1600));
}

.menu__link:hover {
  color: #ada074;
}

.menu__link.active {
  color: #ada074;
}

.about {
  padding: 0px 0px 60px 0px;
}

@media (max-width: 767.98px) {
  .about {
    padding: 0px 0px 10px 0px;
  }
}

.about__header-block {
  margin: 0px 0px 65px 0px;
}

@media (max-width: 767.98px) {
  .about__header-block {
    margin: 0px 0px 30px 0px;
  }
}

.about__body {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0;
  margin: 0 -15px;
}

@media (max-width: 767.98px) {
  .about__row {
    display: block;
  }
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  margin: 0px 0px 30px 0px;
}

.about__item {
  max-width: 260px;
}

@media (max-width: 767.98px) {
  .about__item {
    max-width: none;
  }
}

.about__title {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  color: #000000;
  margin: 0px 0px 25px 0px;
}

@media (max-width: 992.98px) {
  .about__title {
    letter-spacing: normal;
  }
}

@media (max-width: 767.98px) {
  .about__title {
    margin: 0px 0px 15px 0px;
  }
}

.about__text {
  font-size: 14px;
  line-height: 26px;
}

.about__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767.98px) {
  .about__icon {
    margin: 0px 0px 15px 0px;
  }
}

.about__icon--three img {
  position: relative;
  left: 5px;
}

.about__icon img {
  display: block;
}

.portfolio {
  margin: 0px 0px 60px 0px;
  text-align: center;
}

.portfolio__filter {
  margin: 50px 0px 50px 0px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  /*Без него плохо отрабатывает*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -15px 45px -15px;
}

@media (max-width: 479.98px) {
  .portfolio__items {
    display: block;
  }
}

.portfolio__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
  /*Для Internet Explorer 11*/
  padding: 0px 15px 0px 15px;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 479.98px) {
  .portfolio__item {
    width: 100%;
    max-width: none;
  }
}

.portfolio__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.control.mixitup-control-active {
  color: #ada074;
}

.control {
  font-size: 15px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px 6px;
}

.control:hover {
  color: #ada074;
}

.partners {
  background-image: url("../img/partners/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 100px 0px;
}

@media (max-width: 767.98px) {
  .partners {
    margin: 0px 0px 70px 0px;
  }
}

@media (max-width: 479.98px) {
  .partners {
    margin: 0px 0px 45px 0px;
  }
}

@media (max-width: 767.98px) {
  .partners {
    padding: 70px 0px 70px 0px;
  }
}

@media (max-width: 479.98px) {
  .partners {
    padding: 40px 0px 40px 0px;
  }
}

.partners__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0px 0px 90px 0px;
}

@media (max-width: 767.98px) {
  .partners__title {
    margin: 0px 0px 45px 0px;
  }
}

@media (max-width: 479.98px) {
  .partners__title {
    margin: 0px 0px 25px 0px;
  }
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 479.98px) {
  .partners__row {
    max-width: none;
  }
}

@media (max-width: 479.98px) {
  .partners__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 15px 0px;
  }
}

.contact {
  font-size: 14px;
  margin: 180px 0px 60px 0px;
}

@media (max-width: 992.98px) {
  .contact {
    margin: 100px 0px 40px 0px;
  }
}

@media (max-width: 767.98px) {
  .contact {
    margin: 60px 0px 30px 0px;
  }
}

@media (max-width: 992.98px) {
  .contact {
    margin: 30px 0px 20px 0px;
  }
}

.contact__header-block {
  margin: 0px 0px 120px 0px;
}

@media (max-width: 992.98px) {
  .contact__header-block {
    margin: 0px 0px 80px 0px;
  }
}

@media (max-width: 767.98px) {
  .contact__header-block {
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 479.98px) {
  .contact__header-block {
    margin: 0px 0px 40px 0px;
  }
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -25px;
}

@media (max-width: 767.98px) {
  .contact__body {
    margin: 0px auto;
  }
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 25px;
  color: #000000;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    padding: 0;
  }
}

.contact__form {
  text-align: right;
}

.contact__text {
  width: 100%;
  max-width: 230px;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 767.98px) {
  .contact__text {
    max-width: none;
    margin: 30px 0px 0px 0px;
  }
}

.contact__name {
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 767.98px) {
  .contact__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact__email {
  font-weight: 700;
  color: #000000;
}

.form-contact__body {
  display: inline-block;
  width: 100%;
  max-width: 385px;
}

@media (max-width: 767.98px) {
  .form-contact__body {
    max-width: none;
  }
}

.form-contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px 70px -15px;
}

@media (max-width: 767.98px) {
  .form-contact__row {
    margin: 0px -15px 30px -15px;
  }
}

@media (max-width: 479.98px) {
  .form-contact__row {
    display: block;
  }
}

.form-contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}

.form-contact__label {
  width: 100%;
  display: inline-block;
  font-weight: 700;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #000000;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.form-contact__btn {
  margin: 35px 0px 0px 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.social picture {
  height: 15px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  width: 29px;
  height: 29px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin: 0px 10px 10px 10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section {
    position: relative;
    background-color: #ffffff;
    z-index: 1;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

textarea.input {
  resize: none;
  padding: 10px 20px;
  height: 117px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input {
  border: none;
  border-top: 1px solid black;
  height: 36px;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  background-color: #f8f7f7;
  outline: none;
}

.input:hover {
  outline: none;
}

.input:focus {
  outline: none;
}

.input.focus {
  border-top: 1px solid blue;
  outline: none;
}

.input.err {
  border-top: 1px solid red;
  outline: none;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-size: calc(30px + 4 * ((100vw - 320px) / 1600));
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5.44px;
  position: relative;
  padding-bottom: 35px;
}

.header-block__title::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  background-color: #000000;
}

.header-block__text {
  margin-top: 35px;
}

.footer {
  position: relative;
  z-index: 52;
  padding: 50px 0px 50px 0px;
  background-color: #3c3c3c;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0;
}

.footer__menu {
  margin: 0px 0px 15px 0px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0px -20px;
}

@media (max-width: 479.98px) {
  .footer__list {
    margin: 0px -10px;
  }
}

.footer__item {
  padding: 0px 20px;
}

@media (max-width: 479.98px) {
  .footer__item {
    padding: 0px 10px;
  }
}

.footer__link {
  font-size: 14px;
  color: #a4a4a4;
}

.footer__copyright {
  font-size: 14px;
}

.footer__logo {
  height: 78px;
  margin: 0px 0px 25px 0px;
}
